<div class="grid place-items-center w-full py-4 mt-8 mb-6">
  <div class="join">
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="join-item btn btn-outline">Previous</a>{% else %}<button class="join-item btn btn-outline btn-disabled">Previous</button>{% endif %}
    <button class="join-item btn btn-outline">Page: {{ paginator.page }} of {{ paginator.total_pages }}</button>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="join-item btn btn-outline">Next</a>{% else %}<button class="join-item btn btn-outline btn-disabled">Next</button>{% endif %}
  </div>
</div>
