<div class="flex justify-center w-full table mx-auto">
  <div class="join">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="join-item btn btn-outline">Previous</a>
    {% else %}
      <button class="join-item btn btn-outline btn-disabled">Previous</button>
    {% endif %}
    
    <button class="join-item btn btn-outline btn-disabled">Page: {{ paginator.page }} of {{ paginator.total_pages }}</button>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="join-item btn btn-outline">Next</a>
    {% else %}
      <button class="join-item btn btn-outline btn-disabled">Next</button>
    {% endif %}
  </div>
</div>
